@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* WebKit (Chrome, Safari, Opera) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* testimonialSlider.css */

.swiper-pagination {
    bottom: 0 !important;
    text-align: center;
}

.swiper-pagination-bullet {
    background-color: #555;
    opacity: 1;
    margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
    background-color: #000;
}